@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply w-full rounded-xl bg-transparent border-2 border-gray-500 text-white text-sm placeholder:text-sm;
  }
}

::-webkit-scrollbar {
  appearance: none;
  height: 7px;
  width: 7px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
#product_list::-webkit-scrollbar-track {
  border-radius: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(191 219 254);
  border-radius: 7px;
}
